.header{
    background-color: $color-primary;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.header-image{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
}

.header-logo{
    position: absolute;
    top: 5%;
    left: 5%;

    .logo-image{
        height: 5rem;
        border-radius: 50%;
    }
}
